<div class="image-container">
  <a href="{{ include.url }}" target="_blank">
    <img src="https://raw.githubusercontent.com/kohalahal/kohalahal.github.io/master/assets/image/progress/{{ include.image }}" alt="과제 이미지" class="progress-image">
    <div class="overlay">
      <div class="text">
        {% if include.text %}
          {{ include.text }} <i class="fa fa-arrow-right" aria-hidden="true"></i>
        {% else %}
          구경하기 <i class="fa fa-arrow-right" aria-hidden="true"></i>
        {% endif %}
      </div>
    </div>
  </a>
</div>
