<section>
  {% for progress-bigcategory in site.data.settings.progress-bigcategories reversed %}
  <div class="progress-bigcategory">
    <h1>{{ progress-bigcategory.title }}</h1>
    <div class="progress-grid">
    {% for progress-subcategory in site.data.settings.progress-subcategories reversed %}
    {% if progress-bigcategory.number == progress-subcategory.bigcategory %}
    <!-- <div class="progress-subcategory">
      <h1>{{ progress-subcategory.title }}</h1> -->
        {% for progress in site.data.settings.progresses reversed %}
        {% if progress-subcategory.number == progress.category %}
          
            <div class="thumb-unit" style="background-image: url(https://raw.githubusercontent.com/kohalahal/kohalahal.github.io/master/assets/image/progress/{{ progress.image }})">
              <a href="{{ site.url }}/progress/{{ progress.file }}">
                <div class="thumb-overlay">
                  <div class="thumb-category">
                    {{ progress-subcategory.title }}
                  </div>
                  <div class="thumb-title">
                    {{ progress.name }}
                  </div>
                  <div class="thumb-spec">
                    {{ progress.spec }}
                  </div>
                </div>
              </a>
              
            </div>
          </a>
        {% endif %}
        {% endfor %}
  
    {% endif %}
    {% endfor %}
    </div>
  </div>
  {% endfor %}
</section>
