<section>
  <div class="thumb-container">
    {% for progress-category in site.data.settings.progress-categories %}
    <div class="progress-categoryq title">
      <h1>{{ progress-category.title }}</h1>
      {% for progress in site.data.settings.progresses %}
      {% if progress-category.number == progress.category %}
        <a href="{{ site.url }}/progress/{{ progress.file }}">
          <div class="thumb-unit" style="url(https://raw.githubusercontent.com/kohalahal/kohalahal.github.io/master/assets/image/progress/{{ progress.image }})">
            <div class="thumb-overlay">
              {{ progress.name }}
          </div>
          </div>
        </a>
        {% endif %}
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</section>
